*,
::before
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
	margin: 0;
	padding: 0;
}

body, h2, h3, h1, p {
    margin: 0;

}

body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #172554;
}

#nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: #de33ea;
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    top: 0;
}

.link {
    margin: 0 auto; 
}

#btn-home, #btn-user, #btn-projects {
    width: 3rem;
    height: 3rem;
    color: #fce5fb;
    margin: 0 auto; 
    transform: scale(1);
    transition: all 0.2s ease-in;   
}

#btn-home:hover, #btn-user:hover, #btn-projects:hover {
    transform: scale(1.10);
    color: #ffffff;
}


#home {
    height: 100vh;
    text-align: center;
    align-content: center;
}

#text-home {
    font-size: 2.2rem;
    margin-top: 2rem;
}

#sub-title {
    color: #ffffff;
    text-shadow: 0 0 30px #8d01ff;
}

#title {
    color: #e5e7eb;
    text-transform: uppercase;
    text-shadow: 4px 6px 1px #de33ea;
}

#gato-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%
}

#phrases {
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    text-align: justify;
    color: #ffffff;
    padding: 1rem;
    border:#de33ea 2px solid;
    border-radius: 1rem;
}

#text {
    color: #de33ea;
}

#my-user {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    align-content: center;
}

#me {
    margin: 3rem 0 1rem 0;
    width: 35%;
}

#text-about-me {
    font-weight: 700;
    background-color: #19295c;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border: #de33ea 2px solid;
    border-radius: 1rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#skills-title {
    text-transform: uppercase;
    text-shadow: 4px 6px 1px #de33ea;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
}

#skills-my-perfil {
    margin: 1rem 0;
    align-content: space-between;
}

.css, .html, .js {
    border: 0;
    margin: 0 1rem;
    background-image: linear-gradient(150deg, #8d01ff, #de33ea, #bc05ff);
    border-radius: 8px;
    width: 6rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

.css:hover, .html:hover, .js:hover {
    transform: scale(0.9);
}

#code-stats{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

#text-code-stats {
    text-transform: uppercase;
    text-shadow: 4px 6px 1px #de33ea;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 1rem;
    
}

#statistics {
    display: flex;
    margin: auto;
    gap: 2rem;
}

.statistics-text {
    color: #ffffff;
    margin: 1rem 1rem;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 4px;
    width: 8rem;
    background-image: linear-gradient(150deg, #382aff, #9233ea, #ff05ee);
}

#projects {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    align-content: center;
}

#title-project {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 4px 6px 1px #de33ea; 
    font-size: 2.5rem;
    font-weight: 900;
}

.my-project-1 {
    background-color: #24397f;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    border: #304ca5 2px solid;
    border-radius: 18px;
    display: flex;
    
}

.my-project-2{
    display: block;
    margin: 0 auto;
}

.title-project {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 4px 1px 1px #de33ea; 
    margin:  1rem 0;
}

.text-project {
    background-color: #304ca5;
    padding: 5px;
    border: #8d01ff 2px solid;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 2rem;
}

.links-project {
    margin: 2rem 4rem;
}

.link-github, .link-vivo {
    width: 7rem;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    background-image: linear-gradient(150deg, #4400ff, #5a21f8, #8d01ff);
    margin-right: 3rem;
    cursor: pointer;
    transition: .3s;
}

.link-github:hover, .link-vivo:hover {
    transform: scale(0.9);
}

.web-img {
    width: 30%;
    border-radius: 8px;
}

@media (max-width:761px) {
    #text-home {
        font-size: 2rem;
    }

    #gato-logo {
        width: 60%;
    }

    #phrases {
        width: 70%;
    }

    #me {
        width: 60%;
        margin: 1rem 0;
    }

    #text-about-me  {
        width: 70%;
    }

    #statistics {
        gap: 0;
    }

    .statistics-text {
        padding: 3px;
    }

    .my-project-1 {
        width: 80%;
        height: 30rem;
        flex-direction: column;
    }

    .links-project {
        margin: 2rem 0;
    }

    .web-img {
        width: 70%;
        margin: 0 auto;
    }
}

